body{
  background-image: url(ts.jpg);
}
h1{
  color: white;
  background-color: grey;
  text-align: center;
  margin-bottom:-7px;
  }
h2{
  color: grey;
  background-color:grey;
  margin: -3px;
}
h3{
  color: white;
  text-align: center;
  }
  h4{
    color: white;
    text-align: center;
    }
    .imageUrl{
      display: flex;
     align-items: center;
    justify-content: center;
    }
  .forminput {
    text-align: center;
    color: white;
    background-color: grey;
  }
  .formwinput {
    text-align: center;
    color: white;
    background-color: grey;
  }
  .forminputs {
    text-align: center;
    color: white;
    background-color: grey;
  }
