body{
  background-image: url(ts.jpg);
}
h1{
  color: white;
  background-color: grey;
  text-align: center;
  margin-bottom:-7px;
  }
h2{
  color: grey;
  background-color:grey;
  margin: -3px;
}
.alb{
  color: white;
  text-align: center;
  background-color:grey;
  }
  .son{
    color: white;
    text-align: center;
    background-color:grey;
    }
    .img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
  .forminput {
    text-align: center;
    color: white;
    background-color: grey;
  }
  .formwinput {
    text-align: center;
    color: white;
    background-color: grey;
  }
  .forminputs {
    text-align: center;
    color: white;
    background-color: grey;
  }
